@model MyBlog.Models.ContactForm

@{
    ViewData["Title"] = "Contact";
}


<html>
<body>

    <div class="container">
        <h4 class="mt-2">Send a Message:</h4>

        <div class="row mt-4">
            <div class="col align-content-center">
                <form id="form" asp-action="Contact">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-6 form-group">
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="Your Full Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <input asp-for="Email" class="form-control" placeholder="E-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input asp-for="Subject" class="form-control" placeholder="Subject" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Body" class="form-control" rows="5" placeholder="Message"></textarea>
                        <span asp-validation-for="Body" class="text-danger"></span>
                    </div>

                    <div class="form-group text-center pb-3"><button id="button" class="btn btn-dark" type="submit">Send</button></div>
                </form>


            </div>

        </div>
    </div>
</body>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
