@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<section style="background: url(img/featured-pic-1.jpeg); background-size: cover; background-position: center center" class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mt-6">
                <h1>Welcome to Code Road</h1><a href="" class="hero-link">Check out my Portfolio</a>
            </div>

            <p>Use this page to detail your site's privacy policy.</p>
