@using MyBlog.Services
@using MyBlog.Models

@inject IImageService imageService
@model BlogCategory


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlogCategory</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*two ways to add a hidden model property from view*@
            @Html.HiddenFor(model => model.Created)
            <input type="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ContentType" />

            @*<input type="hidden" asp-for="Created" />*@
            <input type="hidden" asp-for="Id" />
            <img src="@imageService.DecodeFile(Model.ImageData, Model.ContentType)" class="img-fluid" />
            <label asp-for="ImageData" class="control-label"></label>
            <input name="formFile" type="file" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
